*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;   
    font-family: sans-serif;    
} 

.container{
    width: auto;
    max-width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    color: #333;
    font-family: sans-serif;
    font-size: 16px;
}
.container .card{
    width: 275px;
    height: auto;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(111, 199, 224, 0.2);
    overflow: hidden;
    margin: 20px;
    transition: all 0.25s;
    float: left;
}
.container .card:hover{
    transform: translate(-15px);
    box-shadow: 0 12px 16px rgb(87, 144, 214);
}
.container .card img{
    width: 220px;
    height: 220px;
    padding-left: 60px;
    margin-bottom: 5px;
}
.container .card h4{
    font-weight: 600;
}
.container .card p{    
    font-weight: 400;
    font-size: 14px;
    margin-left: 12px;
    margin-right: 10px;
    margin: 0 !important;
    margin-bottom: 5px !important;
}
.container .card h3{
    margin-left: 30px;
}

.quantity-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .quantity-input {
    width: 60px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px;
  }
  
  .add-to-cart-button {
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 8px 15px;
    cursor: pointer;
  }
  
  .add-to-cart-button:hover {
    background-color: rgb(42, 65, 7);
  }
  