<% if(user !== undefined && user.rol === "1111" ){ %> 
    <%- include("../comunes/components/header-component") -%>
        <div class="container">
    
            <h1>Agregar empleado</h1>
            <br>
            <br>
            <form action="/empleados/create" method="POST">
                <div class="container">
                    <div class="row">
                        <div class="col-10">
                            <h2 class="title-black">Datos generales</h2>
                        </div>
                        <div class="col-2">
                            <h6>* Campos obligatorios</h6>
                        </div>
    
                    </div>
    
                    <br>
                    <div class="row">
                        <div class="col">
                            <h4>Nombre*</h4>
                        </div>
                        <div class="col">
                            <h4>Primer apellido</h4>
                        </div>
                        <div class="col">
                            <h4>Segundo apellido</h4>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col">
                            <input type="text" onkeypress="return soloLetras(event)" class="form-control mb-3" name="nombre"
                                required>
                        </div>
                        <div class="col">
                            <input type="text" onkeypress="return soloLetras(event)" class="form-control mb-3"
                                name="primerApellido">
                        </div>
                        <div class="col">
                            <input type="text" onkeypress="return soloLetras(event)" class="form-control mb-3"
                                name="segundoApellido">
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row">
    
                        <div class="col">
                            <h4>Género*</h4>
                        </div>
    
                    </div>
    
                    <div class="row">
                        <div class="col-4">
                            <select name="genero" id="genero" class="form-control mb-3">
                                <option value="H">Hombre</option>
                                <option value="M">Mujer</option>
                            </select>
    
                        </div>
    
    
                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-10"></div>
                        <div class="col">
                            <button class="btn btn-secondary" type="submit">Registrar empleado</button>
                        </div>
    
                    </div>
                </div>
            </form>
        </div>
        
        <%- include("../comunes/components/footer-component") -%>
        <% } else { %>
            <%- include("../comunes/components/error-sesion") -%>
           <% } %> 